*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.imageminu
{
    width: 107px;
    height: 27px;
    display: none;
}
.imagenumber
{
    width: 107px;
    height: 27px;
}
.navember
{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list
{
    display: flex;
    gap: 20px;
}
.navember button
{
    padding: 10px ;
    background-color: black;
    color: white;
    border-radius: 10px;
    justify-content: space-around;
    align-items: start;
    display: flex;
}
.par
{
 position: relative;
 top: 5px;
 right: 6px;
}
.section1
{
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.section1_blue
{
background-color: #b2d1ff;
display: flex;
}
.row
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left_list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.left button
{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.right
{
    position: relative;
    height: 700px;
}
.hero_image
{
    height: 100%;
}
.card
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 60%;
}
.card div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.card p{
    font-size: 12px;
}
.right button{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 30px;
    position: absolute;
    top: 80%;
    left: 50%;
}
.herostart{
    max-width: 1200px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divhero{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    width: 24%;
    height: 46%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;
}
.item1{
    width: 24%;
    height: 46%;
    background-color: #061B3A;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: white;
     border-radius: 10px;
}
.item div{
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.item1 div{
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}
.imagetic{
    width: 22px;
    height: 18px;
}
.item2{
    width: 24%;
    height: 46%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: none;
    border-radius: 10px;
}
.startheroend{
    max-width: 1200px;
    height: 570px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.under{
    width: 100%;
    height: 85%;
    display: flex;
}
.item3{
    width: 50%;
    height: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
}
.item4{
    width: 47%;
    height: 75%;
    background-image: url(./Frame\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.item3 h2{
    color: #00000066;
}
.item3 div{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.imagekhat{
    width: 16px;
    height: 5px;
}
.item5{
    display: none;
}
.herostartend{
    width: 100%;
    height: 620px;
    background-color: #F0F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under1{
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
}
.divunder{
width: 60%;
height: 100%;
background-color: white;
display: flex;
}
.under2{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.khat{
    width: 3px;
    height: 106px;
}
.unders{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2h{
    display: none;
}
.unders1{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
     gap: 35px;
}
.divdiv{
    width: 85%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}
.divdiv div{
    width: 19%;
    height: 95%;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
}
.items{
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.items1{
    width: 35%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow1{
    width: 36px;
    height: 10px;
}
.items2{
    width: 60%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #061B3A;
    display: flex;
    align-items: center;
    color: white;
}
.divunder1{
width: 40%;
height: 100%;
background-color: #061B3A;
display: flex;
}
.divunder1 div{
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.par1{
    font-size: 20px;
    color: #FFFFFF;
}
.startmadium{
    max-width: 1200px;
    height: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.unders2{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.itemss{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.itemss1{
    width: 100%;
    height: 10%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemss1 div{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.imagebottom{
    width: 25px;
    height: 13px;
}
.itemss2{
    width: 100%;
    height: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
}
.underss{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
}
.underss1{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.underss1 button{
    display: flex;
    padding: 10px 25px ;
    gap: 10px;
    align-items: center;
    border: 2px solid black;
    width: 25%;
}
.underss div{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.usingimage{
    width: 30%;
    height: 40%;
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;
}
.imagehuman{
    width: 90%;
    height: 70%;
    margin: auto;
    background-image: url(./Rectangle\ 81.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heroendstart{
    width: 100%;
    height: 1055px;
    background-color: #F0F9FF;
}
.divunder2{
    max-width: 1200px;
    height: 90%;
    background-color: #061B3A;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.itemms{
    width: 100%;
    height: 85%;
    background-color: red;
}
.itemms1{
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
}
.itemms1 div{
    width: 100%;
    height: 65%;
    background-color: aqua;
    border-radius: 15px;
    background-image: url(./Rectangle\ 24.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 500px)
{
    .list, .navember button{
        display: none;
    }
    .imageminu
    {
        display: block;
    }
    .section1{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .herostart{
    height: 3500px;
    }
    .herostart h1{
        font-size: 40px;
    }
    .divhero{
       display: flex;
       flex-direction: column;
       height: 90%;
    }
    .item{
        width: 100%;
        height: 10%;
    }
    .item1{
        width: 100%;
        height: 10%;
    }
    .item2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 100%;
        height: 10%;
    }
    .item2 div{
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .startheroend{
        width: 100%;
        height: 1600px;
    }
    .under{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    .item3{
        width: 100%;
        height: 49%;
    }
    .item5{
    display: block;
    width: 100%;
    height: 50%;
    background-image: url(./Frame\ 130.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .item4{
    display: none;
    }
    .herostartend{
        width: 99%;
        display: flex;
        flex-direction: column;
        height: 1800px;
    }
    .under1{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column-reverse;
    }
    .divunder{
        width: 100%;
    }
    .under2{
        display: none;
    }
    .divunder1{
        width: 100%;
    }
    .unders2{
        display: flex;
        flex-direction: column;
    }
    .startmadium{
        display: flex;
        flex-direction: column;
        height: 1700px;
    }
    .itemss{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .underss1 button{
        width: 60%;
    }
    .usingimage{
        width: 100%;
    }
}